body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 40px;
}

.banner {
    color: blue;
}

.road-map {
    display: flex;
    margin-bottom: 140px;
}

.half-width {
    width: 50%;
    padding-left: 6%;
}

.half-width img {
    width: 85%;
}

.click-button {
    text-decoration: none;
    background-image: linear-gradient(red, blue, yellow);
    color: white;
    font-weight: 550;
    padding: 8px 16px;
    border-radius: 5px;
}

.top-banner {
    background-image: url(tbanner.png);
    background-repeat: no-repeat;
}

.bracket {
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.experience-area {
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.div-item {
    box-shadow: 10px 11px 40px blueviolet;
    border-radius: 9px;
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

#side-block {
    border-left: 8px solid blue;
}

#name-block {
    border-left: 8px solid blueviolet;
}

footer {
    text-align: center;
}